#List {
    width: 100%;
}

#listTable {
    width: 80%;
    padding: 10px;
    border: 1px solid teal;
    margin: auto;
    border-radius: 5px;
}

h2 {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

td, th {
    text-align: start;
}

p {
    text-align: center;
}

checkBox {
    transform: scale(1.5);
}