#list {
    width: 80%;
    margin: auto;
}

#completeTable {
    width: 80%;
    padding: 10px;
    border: 1px solid teal;
    margin: auto;
    border-radius: 5px;
}

h2 {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

td, th {
    text-align: start;
}